<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <h1 class="main-date">
            <%= key %>
        </h1>
        <div class="to-do-task">
            <% newitems.forEach((item)=>{ %>
                <form action="/delete" method="post">
                    <div class="list-items">
                        <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
                        <p>
                            <%= item.name %>
                        </p>
                        <input type="hidden" name="listname" value="<%= key %>" >
                    </div>
                </form>
                <% }) %>
                    <div class="list-items">

                        <form class="item" action="/" method="post">
                            <input type="text" name="task" placeholder="New Item" autocomplete="off">
                            <button type="submit" name="list" value="<%= key %>">+</button>
                        </form>

                    </div>
        </div>
    </div>
</body>

</html>